<div class="recipe recipe-list-item">
  <div class="recipe-cover">
      <a href="{% url 'recipes:detail' recipe.id %}">
        {% if recipe.cover %}
          <img src="{{ recipe.cover.url }}" alt="Imagem">
        {% else %}
          <img src="{{ '/media/recipe/no-image.jpg' }}" alt="Imagem">
        {% endif %}
      </a>
    <div class="recipe-title-container">
      <h2 class="recipe-title">
        <a href="{% url 'recipes:detail' recipe.id %}">
          {{ recipe.title }}
        </a>
      </h2>
    </div>

    <div class="recipe-author">

      <span class="recipe-author-item">
        <i class="fas fa-user"></i>
        {% if recipe.author.first_name %}
          {{recipe.author.first_name}}
        {% else %}
          {{recipe.author.username}}
        {% endif %}
      </span>

      <span class="recipe-author-item">
        <i class="fas fa-calendar-alt"></i>
        {{ recipe.created_at|date:'d/m/Y \à\s H:i' }}
      </span>

      <span class="recipe-author-item">
        {% if recipe.category.id %}
          <a href="{% url 'recipes:category' recipe.category.id %}">
            <i class="fas fa-layer-group"></i>
            <span>{{ recipe.category.name }}</span>
          </a>
        {% endif %}
      </span>
    </div>

    <div class="recipe-content">
      <p>
      {% if is_detail_page is True %}
        {{ recipe.description }}
      {% else %}
        {{ recipe.description|truncatechars:240 }}
      {% endif %}
      </p>
    </div>

    <div class="recipe-meta-container">
      <div class="recipe-meta recipe-preparation">
        <h3 class="recipe-meta-title">
          <i class="fas fa-stopwatch"></i> 
          Preparo
        </h3>
        <div class="recipe-meta-text">
          {{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}
        </div>
      </div>

      <div class="recipe-meta recipe-servings">
        <h3 class="recipe-meta-title">
          <i class="fas fa-pizza-slice"></i> 
          Porções
        </h3>
        <div class="recipe-meta-text">
          {{ recipe.servings }} {{ recipe.serving_unit }}
        </div>
      </div>
    </div>

    {% if is_detail_page is True %}
      <div class="preparation">
        <p>
          {% if recipe.preparation_steps_is_html %}
            {{ recipe.preparation_steps|safe }}
          {% else %}
            {{ recipe.preparation_steps|linebreaks }}
          {% endif %}
        </p>
      </div>
    {% endif %}

    <div class="recipe-footer">
    {% if is_detail_page is not True %}
      <a class="recipe-read-more button button-dark button-full-width" href="{% url 'recipes:detail' recipe.id %}">
        <i class="fas fa-eye"></i>
        <span>ver mais...</span>
      </a>
    {% else %}
      <a class="recipe-read-more button button-dark button-full-width" href="{% url 'recipes:home' %}">
        <i class="fas fa-arrow-left"></i>
        <span>voltar</span>
      </a>
    {% endif %}
    </div>

  </div>
</div>